.content .main .nav{
	width: 1180px;
	height: 50px;
	background-color: #ECECFB;
	margin: 10px auto;
	padding-left: 20px;
	line-height: 50px;
}
.content .main table{
	text-align: center;

	/*border: 1px solid #CACAD9;*/
}
.content .main table tr,td{
	border: 1px solid #CACAD9;
	padding:10px;

}
.content .main .tfoot{
	width: 1180px;
	height: 50px;
	border: 1px solid #CACAD9;
	margin: 10px auto;
	/*text-align: center;*/
	line-height: 50px;
	padding-left: 10px;
	padding-right: 10px;
}
.content .main .account button{
	width: 100px;
	height: 50px;
	font-size: 18px;
	margin-left: 20px;
	cursor: pointer;
}